@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,500;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #242424;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
li {
  list-style: none;
}
#light {
  background: linear-gradient(#d2d3d4f1 0%, rgb(79, 81, 87) 100%);
}
#dark {
  background: linear-gradient(rgb(64, 66, 70) 0%, rgba(1, 14, 51, 0.945) 100%);
}
#light .ic__img{
  filter: invert(1%);
}
#dark .nav__link,
#dark .title,
#dark .header__para,
#dark .language__name,
#dark h1 {
  color: white;
}
#dark .blue {
  color: #0077ff;
}
#light #card{
  background: linear-gradient(43deg, #d2d3d4f1 50%, rgba(79, 81, 87) 100%);

}
#light .title{
  background: linear-gradient(43deg, #b0b5bb9c 0%, rgba(234, 0, 255, 0.74) 46%, rgba(0, 162, 255, 0.877) 100%);
}

#light .project__description--sub-title,
#light .project__description--para,
#light .prompt{
  color: #242424;
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
}
canvas {
  width: 100%;
  height: 100%;
}

.row {
  width: 100%;
  max-width: 1400px;
}
.nav__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
}

.nav__link--list {
  display: flex;
}
a {
  text-decoration: none;
}
.nav__link {
  margin: 0 12px;
  font-size: 20px;
  font-weight: 700;
}
.container__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0 80px 24px;
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
}
.social__list {
  margin-top: 16px;
  display: flex;
}
.ic__img {
  width: 20px;
}
.link__hover-effect {
  cursor: pointer;
  position: relative;
}
.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}
.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}
.link__hover-effect--white:after {
  background-color: white;
}
.link__hover-effect--black:after {
  background-color: #242424;
}

.social__link {
  background-color: #0077ff;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 6px;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.left {
  width: 50%;
}
.right {
  position: relative;
  z-index: 1;
  width: 50%;
}
#text {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.title- {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}
.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 500px;
}
.blue {
  color: #0077ff;
}
.tech {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  height: 400px;
}
.tech__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.language__img,
.language:hover .language__img,
.language__img--wrapper,
.language,
.language__list,
.language__name,
.language:hover .language__name  {
  display: none;
}
.language__img {
  max-width: 100px;
  width: 100%;
  transition: all 300ms;
}
.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}
.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 2px;
}
.language {
  margin: auto;
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}
.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}
#ball {
  z-index: 100;
  position: absolute;
  top: 110%;
  right: 0;
}

#projects {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.projects__wrapper {
  margin: 0 auto;
  padding: 30px;
  font-size: 25px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.project__list {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.project__img {
  width: 100%;
  transition: all 1000ms ease;
}

footer {
  height: 300px;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo--img {
  width: 70px;
}
.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}
.footer__copyright,
.footer__social--link {
  color: white;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(50px);;

}
.modal__wrapper{
  box-shadow: 0 0px 1000px rgb(0, 0, 0, 0.55);
  height: 700px;
  display: flex;
  width: 100%;
  max-width: 1200px;
  border-radius: 20px;
  
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.modal .modal__about,
.modal .modal__contact {
  transform: translate(0%);
 
}
.modal__about {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #00524e;
  color: #ffffff;
}
.modal__title {
  font-size: 26px;
}
.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}
.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}
.modal__contact {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffffff;
  color: white;
}
.model__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}
.click {
  transition: all 300ms ease;
  cursor: pointer;
}
.click:hover {
  transform: scale(1.1);
}
.click:active {
  transform: scale(0.8);
}

.form__item {
  margin-bottom: 20px;
}
.form__submit {
  background-color: rgb(11, 187, 187);
  color: white;
  border: 2px solid rgb(11, 187, 187);
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 10px;
  transition: all 300ms ease;
}
.form__submit:hover {
  border-color: rgb(11, 187, 187);
  background-color: transparent;
}
.form__submit:active {
  color: rgb(11, 187, 187);
  border-color: rgb(11, 187, 187);
}
input,
textarea {
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}
input:hover,
textarea:hover {
  border-color: gray;
}
input:focus,
textarea:focus {
  border-color: rgb(11, 187, 187);
}
label {
  font-size: 14px;
  font-weight: bold;
}
textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}
button {
  cursor: pointer;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.modal__overlay--loading {
  background-color: #ffffff;
  font-size: 80px;
}
.modal__overlay--failed {
  color: #ff2600;
  font-size: 30px;
  background-color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 20px;
}
.modal__overlay--success {
  font-size: 40px;
  background-color: #0b9472;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}
.modal__overlay--visible {
  z-index: 1;
  display: flex;
}
.spinner {
  animation: spinner 750ms infinite linear;
  z-index: 100;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer__anchor{
  position: relative;
}
.footer__anchor:hover .footer__logo--up{
  transform: translateX(40px);
  opacity: 1;
}
.footer__logo--up{
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 20px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}




.container {
  position: relative;
  width: 350px;
  height: 400px;
  transition: 200ms;
  margin: 15px;
}

.container:active {
  width: 300px;
  height: 350px;
}

#card {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 700ms;
  background: linear-gradient(43deg, rgb(64, 66, 70) 50%, rgba(1, 14, 51, 0.945) 100%);
}

.subtitle {
  transform: translateY(160px);
  color: rgb(134, 110, 221);
  text-align: center;
  width: 100%;
}

.title {
  opacity: 0;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out-out;
  transition-delay: 100ms;
  position: absolute;
  font-size: x-large;
  font-weight: bold;
  margin: auto;
  width: 100%;
  height: 100%;
  background: linear-gradient(43deg, rgba(8, 28, 129, 0.877) 0%, rgba(110, 2, 103, 0.877) 46%, rgba(3, 91, 126, 0.877) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}
.project__description--sub-title {
  margin-top: 8px;
  color: white;
  line-height: 1.5;
}
.project__description--para {
  text-align: center;
  font-size: 20px;
  margin: 15px auto;
  color: white;

}
.project__description--link {
  font-size: 20px;
  margin-right: 20px;
}
.ic__img {
  width: 20px;
  filter: invert();
}
.tracker:hover ~ #card .title {
  opacity: 1;
}

#prompt {
  bottom: 8px;
  left: 12px;
  z-index: 20;
  font-size: 20px;
  font-weight: bold;
  transition: 300ms ease-in-out-out;
  position: absolute;
  width: 100%;
  color: rgb(255, 255, 255);
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card #prompt {
  opacity: 0;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.container:hover #card::before {
  transition: 200ms;
  content: '';
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: '';
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(0, 183, 255) 100%);
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
   /* iOS Safari */
  -webkit-user-select: none;
   /* Safari */
   /* Konqueror HTML */
  -moz-user-select: none;
   /* Old versions of Firefox */
  -ms-user-select: none;
   /* Internet Explorer/Edge */
  user-select: none;
   /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}












@media (max-width: 1258px) {
  #text {
    right: -45%;
  }


}
@media (max-width: 988px) {
  .title {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .modal__wrapper {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    border-radius: 0;
    height: 100vh;
  }
  .modal__half {
    border-radius: 0;
    width: 100%;
  }
  .modal__about {
    height: 100%;
  }
.language__img,
.language:hover .language__img,
.language__img--wrapper,
.language,
.language__list,
.language__name,
.language:hover .language__name  {
  display:flex;
}
  .left {
    margin: auto;
    width: 100%;
  }
  .right {
    display: none;
  }

  .tech__wrapper {
    margin-top: 50px;
  }
  .displ__none {
    display: none;
  }

}

@media (max-width: 580px) {
 
  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .project__description--title {
    font-size: 20px;
  }
  .project__description--sub-title {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .modal__half {
    padding: 40px;
  }
  .tech__wrapper {
    font-size: 20px;
  }
  .proj__header {
    font-size: 25px;
  }
  .nav__link {
    margin: 0 5px;
  }
}
