@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,500;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #242424;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #242424;
  --primary-color-light: #0e215f;
  --primary-color-extra-light: #737472;
  --secondary-color: #1c8fdb;
  --secondary-color-dark: #d3350d;
  --text-light: #babec5;
  --white: #ffffff;
  --max-width: 1400px;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}
#light {
  background: linear-gradient(#d2d3d4f1 0%, #6475a8 100%);
}
#dark {
  background: linear-gradient(#404246 0%, #010e33f1 100%);
}

#dark .nav__link,
#dark .title,
#dark .header__para,
#dark .language__name,
#dark h1,
#dark .modal__white,
#dark .technologie__name,
#dark .white {
  color: #fff;
}
#dark .link__hover-effect--black::after {
  background-color: #fff;
}
#dark .modal__wrapper {
  box-shadow: 0 0 1000px rgba(194, 194, 194, 0.55);
}
#dark .modal__about {
  background-color: #242424c9;
}
#dark .blue {
  color: #07f;
}

#dark .logo {
  width: 100px;
  filter: drop-shadow(2px 1px 1px #e9d0d0);
}
#dark .card {
  border: 2px solid #0c0c0c;
  box-shadow:  5px 5px 1px 5px #0c0c0c;
  background-color: #141a25;
}
#dark .card:hover .card_content {
  transform: translateY(120px);
  background-color: #141a25;
  border-top: 5px solid #0c0c0c;
}
section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
}
canvas {
  width: 100%;
  height: 100%;
}
.row {
  width: 100%;
  max-width: 1400px;
}
.nav__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;

}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
  filter: drop-shadow(2px 2px 2px #242424);
}
.nav__link--list {
  display: flex;
  z-index: 10;
}
a {
  text-decoration: none;
}
.nav__link {
  margin: 0 12px;
  font-size: 20px;
  font-weight: 700;
}
.container__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 150px 24px;
  width: 100%;
  height: 100%;
}
.container- {
  display: flex;
}
.container {
  display: flex;
}
.social__list {
  margin-top: 16px;
  display: flex;
}
.link__hover-effect {
  cursor: pointer;
  position: relative;
}
.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}
.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}
.link__hover-effect--white:after {
  background-color: #fff;
}
.link__hover-effect--black:after {
  background-color: #242424;
}
.social__link {
  background-color: #07f;
  color: #fff;
  font-size: 20px;
  padding: 6px;
  width: 38px;
  height: 38px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  z-index: 3;
}
.left {
  width: 70%;
  z-index: 2;
}
.right {
  z-index: 10;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stars {
  width: 100%;
  height: auto;
  position: absolute;
  inset: 0;
  z-index: 0;
}
.title-,
.title_ {
  font-size: 130px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}
.white {
  color: #242424;
}
.title_ {
  display: flex;
}
#hover {
  display: inline-block;
  margin: 0 5px 0 -4px;
  transition: 200ms;
}
.space {
  margin: 0 30px 0 0;
}
#hover.title-:nth-child(even):hover {
  filter: blur(0.9px);
  scale: 1.1;
  -webkit-text-stroke: 1px #06f;
  text-shadow: 0 0 1px #0084ff73, 0 0 3px #0084ff73, 0 0 5px #0084ff73,
    0 0 9px #0084ff73, 0 0 10px #0084ff73;
}
#hover.title-:nth-child(odd):hover {
  filter: blur(0.9px);
  scale: 1.1;
  -webkit-text-stroke: 1px #0084ff;
  text-shadow: 0 0 1px #0084ff73, 0 0 3px #0084ff73, 0 0 5px #0084ff73,
    0 0 9px #0084ff73, 0 0 10px #0084ff73;
}
#hover.title_:nth-child(even):hover {
  filter: blur(0.9px);
  scale: 1.1;
  -webkit-text-stroke: 1px #06f;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #0084ff,
    0 0 9px #0084ff, 0 0 10px #0084ff, 0 0 20px #0084ff, 0 0 10px #0084ff;
}
#hover.title_:nth-child(odd):hover {
  filter: blur(0.9px);
  scale: 1.1;
  -webkit-text-stroke: 1px #0084ff;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #0084ff,
    0 0 9px #0084ff, 0 0 10px #0084ff, 0 0 20px #0084ff, 0 0 10px #0084ff;
}
.header__para {
  font-weight: 500;
  font-size: 30px;
  line-height: 2;
  max-width: 700px;
}
.blue {
  color: #07f;
}
.tech {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: rgba(139, 139, 139, 0.233);
  position: relative;
}

.tech__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
}
.language__img {
  max-width: 100px;
  width: 100%;
  transition: all 300ms;
  filter: grayscale(100%);
}
.language:hover .language__img {
  filter: brightness(100%);
  opacity: 0.86;
  transform: scale(0.9);
}
.language__img--wrapper {
  padding: 20px 0px;
}

.language {
  margin: 0 25px 0 0;
  width: 15%;
  display: flex;
  justify-content: center;
  position: relative;
}
.language__list {
  z-index: 30;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 15px;
  opacity: 0;
}
.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}
#projects {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 50px 0 0;
}
.proj__header{
  margin-top: 60px;
}
.projects__wrapper {
  margin: 0 auto;
  padding: 30px;
  font-size: 25px;
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.project__list {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
}

.project__img {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  transition: all 1000ms ease;
}
footer {
  height: 300px;
  padding: 6% 0;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo--img {
  width: 70px;
}
.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}
.footer__copyright {
  margin-top: 30px;
}
.footer__copyright,
.footer__social--link {
  color: #fff;
}


.project_modal{

  position: absolute;
  top: 178%;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 12;
  background-color: #6361613d;
}
.modal__container{
  position: relative;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  border-radius: 20px;
  overflow-y: scroll;
  background-color: #191d20;
}
.project_model__exit {
  position: absolute;
  top: 30px;
  right: 20px;
  color: #000;
  font-size: 36px;
  z-index: 100;
}
.modal_exit{
  z-index: 20;
  position: sticky;
  top: 0;
  right: 0;
  filter: invert(100%);
}
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
.details_container{
  margin: 50px 0 -150px 0;
}
.details_container-{
  margin: 0px 0 0px 0;
}
.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--text-light);
}

.explore__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}


.explore__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.explore__card- {
  padding: 1rem;
  background-color: var(--primary-color-extra-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.explore__card-:hover {
  background-color: #700404cb;
  border-color: var(--secondary-color-dark);
}

.explore__card {
  padding: 1rem;
  background-color: var(--primary-color-extra-light);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.explore__card:hover {
  background-color: var(--primary-color-light);
  border-color: var(--secondary-color);
}



.explore__card h4, .explore__card- h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
}

.explore__card p, .explore__card- p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.class__container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.class__image {
  position: relative;
  display: flex;
  align-items: center;
  height: 70%;
}

.class__image .class__img-1 {
  position: absolute;
  left: 100px;
  top: -100px;
  max-width: 400px;
  border-radius: 10px;
}


.laptop_gif{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 80vh;
}

.class__content {
  padding: 2rem 0;
}

.class__content .section__header {
  text-align: left;
  max-width: 400px;
}

.class__content p {
  margin-bottom: 4rem;
  color: var(--text-light);
  font-size: 20px;
}
.github_btn{
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-color: transparent;
  border: none;
}
.github{
  width: 100%;
  filter: invert(49%) sepia(48%) saturate(5123%) hue-rotate(180deg) brightness(97%) contrast(78%);
}
.github-{
  width: 100%;
  filter: invert(20%) sepia(92%) saturate(7479%) hue-rotate(358deg) brightness(101%) contrast(110%);
}
.links{
  display: flex;
}
.btn, .btn- {
  padding: 18px 20px;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}
.btn-{
  background-color: #ff0000;
  color: var(--white);
}
.btn-:hover {
  background-color: var(--secondary-color);
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.bg__blur {
  position: absolute;
  box-shadow: 0 0 1000px 100px var(--secondary-color);
  z-index: 1;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.header__container {
  position: relative;
  padding-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.header__container::before {
  content: "R-M-P";
  position: absolute;
  bottom: 5rem;
  right: 35rem;
  font-size: 10rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--white);
  opacity: 0.05;
  z-index: -1;
}

.header__blur {
  bottom: 5rem;
  right: 0;
}
.header__blur- {
  bottom: 5rem;
  right: 0;
  box-shadow: 0 0 1000px 100px #ff0000;
}

.header__content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--white);
}

.header__content h1 span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--white);
}
.header__content-span{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #ff0000;
}
.header__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.header__image {
  position: relative;
}

.header__image img {
  max-width: 500px;
  width: 100%;
  height: 600px;
  transform: skew(-10deg);
  margin: auto;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(50px);
}
.modal__wrapper {
  box-shadow: 0 0 1000px #000;
  height: 700px;
  display: flex;
  width: 100%;
  max-width: 1200px;
  border-radius: 20px;
}
.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.modal__about {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #cccccce8;
}
.modal__title {
  font-size: 30px;
}
.modal__sub-title {
  margin: 12px 0 24px;
  font-size: 20px;
}
.modal__para {
  color: #242424;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 1.75;
}
.modal__contact {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fff;
}
.model__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #000;
  font-size: 36px;
  z-index: 100;
}
.click {
  transition: all 300ms ease;
  cursor: pointer;
}
.click:hover {
  transform: scale(1.1);
}
.click:active {
  transform: scale(0.8);
}
.form__item {
  margin-bottom: 20px;
}
.form__submit {
  background-color: #07f;
  color: #000;
  border: 2px solid #0bbbbb;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 10px;
  transition: all 300ms ease;
}
.form__submit:hover {
  border-color: #0bbbbb;
  background-color: transparent;
}
.form__submit:active {
  color: #07f;
  border-color: #07f;
}
input,
textarea {
  width: 100%;
  background-color: #fff;
  color: #000;
  outline: none;
  border: 2px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}
input:hover,
textarea:hover {
  border-color: gray;
}
input:focus,
textarea:focus {
  border-color: #0bbbbb;
}
label {
  font-size: 14px;
  font-weight: 700;
}
textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}
button {
  cursor: pointer;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.modal__overlay--visible {
  z-index: 1;
  display: flex;
}
.modal__overlay--loading {
  background-color: #fff;
  font-size: 80px;
}
.modal__overlay--failed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  background-color: #fff;
  font-weight: 700;
  padding: 30px;
}
.success {
  margin-bottom: 50px;
  font-size: 100px;
  filter: invert(31%) sepia(87%) saturate(1302%) hue-rotate(139deg)
    brightness(100%) contrast(91%);
}
.modal__overlay--success {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  background-color: #8be7aa;
  color: #000;
  font-weight: 700;
  padding: 50px;
}
.spinner {
  animation: spinner 750ms infinite linear;
  z-index: 100;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
}
@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.footer__anchor {
  position: relative;
}
.footer__anchor:hover .footer__logo--up {
  transform: translateX(40px);
  opacity: 1;
}
.footer__logo--up {
  color: #fff;
  position: absolute;
  right: 0;
  z-index: 20;
  top: 30px;
  font-size: 20px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.card {
  width: 45%;
  border: 2px solid #61656d;
  box-shadow:  5px 5px 1px 5px #61656d;
  color: #242424;
  background-color: #9ea4b1;
  overflow: hidden;
  height: 550px;
  border-radius: 20px;
  margin: 50px 0;
}

.card_title {
  font-weight: bold;
  color: #dad7d7;
  margin: 20px 0;
  font-size: 30px;
  cursor: pointer;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 20px ;
  margin: 0 0 25px 0;
  background-color: #00000070;
  border-top-left-radius: 20px;
  height: 300px;
  transform: translateY(200px);
  transition: all 0.6s ease;
}


.card_subtitle {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
}
.card_tech{
  width: 40px;
  margin: -20px -0px 0 0;
  opacity: 0;
  transition: all 300ms;
}
.language:hover .card_tech {
  opacity: 0.86;
  transform: scale(0.9);
}
.card:hover .card_tech {
  opacity: 1;
  transition: ease-in-out;
}
.card:hover .card_content {
  transform: translateY(120px);
  background-color: #9ea4b1;
  border-top: 5px solid #61656d;
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: .25s;
}
.card:hover .project__img {
  filter: blur(3px);
  transition-delay: .25s;
}

.tech_ {
  width: 120px;
  height: 120px;
  margin: 15px 20px;
}
.technologie {
  display: flex;
  justify-content: center;
  position: relative;
}
.technologie:hover .technologie__name {
  transform: scale(1);
  opacity: 1;
}
.technologie__name {
  color: #242424;
  font-weight: 800;
  position: absolute;
  bottom: -20px;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}
.technologies {
  max-width: 900px;
  margin: 100px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project__description--sub-title {
  line-height: 1.5;
}
.project__description--para {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 15px auto;
}

.ic__img {
  width: 20px;
  filter: invert();
}
.ic__img-- {
  font-size: 25px;
  margin: 0 10px 0 10px;
}
.ic__img- {
  width: 15px;
  margin: 0 20px;
  scale: 2;
}
.sun,
.moon {
  scale: 0.7;
}
.moon {
  position: absolute;
  top: 34%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.sun {
  filter: invert(1);
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.code_wrapper{
  width: 80%;
  margin: 0 auto;
  height: 500px;
  margin-bottom: 100px;
}
.code_buttons{
  position: relative;
  width: 100%;
  background-color: #7c7c7c;
  display: flex;
  justify-content: space-between;
}
.copy_btn{
  width: 50px;
  background-color: transparent;
  border: none;
  filter: invert(100%);
}
.copy{
  font-size: 18px;
  color: white;
  position: absolute;
  right: 50px;
  top: 9px;
}
.code_btns{
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.code_btns button{
  border: none;
  width: 100px;
  height: 40px;
  font-weight: 400;
}

.selected-button {
  background-color: #7c7c7c;
  color: white; 

}

.deselected-button {
  background-color: #f8f9fa; 
  color: #212529;
}
.code{
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  filter: invert(100%);
}

@media (max-width: 1288px) {
  #text {
    right: -45%;
  }
  .details_container{
    margin: 200px 0 0 0;
  }
  .project_modal{
    top: 175%;
    height: 75%;
  }
  .card {
    height: 470px;
  }
}
@media (max-width: 1150px) {
  .details_container{
    margin: 300px 0 -100px 0;
  }
  .details_container-{
    margin: 200px 0 0px 0;
  }
  }
@media (max-width: 1050px) {
.project_modal{
  top: 175%;
}
.details_container{
  margin: 400px 0 -150px 0;
}
.details_container-{
  margin: 300px 0 0px 0;
}
}
@media (max-width: 988px) {
  .right {
    display: none;
  }
  .header__para {
    max-width: 100%;
  }
  .title- {
    font-size: 80px;
  }

  #text {
    top: 50%;
    left: 80%;
  }
  .technologie__name {
    bottom: -10px;
  }
  .card {
    height: 370px;
  }
  .details_container{
    margin: 500px 0 -150px 0;
  }
  .details_container-{
    margin: 400px 0 0px 0;
  }
}
@media (max-width: 850px) {

  .details_container{
    margin: 400px 0 150px 0;
  }
  .details_container-{
    margin: 300px 0 0px 0;
  }
  }
@media (max-width: 750px) {
  .modal__wrapper,
  .modal {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .displ__none {
    display: none;
  }
  .modal__half {
    border-radius: 0;
    width: 100%;
  }
  .title- {
    font-size: 100px;
  }
  .header__para {
    max-width: 90%;
    font-size: 25px;
  }
  .left {
    width: 100%;
    margin-left: 15px;
  }
  #text {
    display: none;
  }
  .tech__wrapper {
    margin-top: 50px;
  }
  .tech_ {
    margin: 8px 0;
    width: 130px;
    height: 100px;
  }
  .project_modal{
    top: 170%;
    height: 65%;
  }
  .card {
    width: 48%;
    height: 300px;
  }
  .card_content {
    padding: 5px 20px ;
    margin: 0 0 -34px 0;
  }
  .details_container-{
    margin: 500px 0 200px 0;
  }

  .details_container{
    margin: 500px 0 400px 0;
  }
}


@media (max-width: 800px) {
  .card:hover .card_content {
    transform: translateY(50px);
    background-color: #242424;
  }
  .details_container{
    margin: 400px 0 150px 0;
  }
}
@media (max-width: 650px) {
  .technologie__name {
    font-size: 15px;
    bottom: -8px;
  }
  .title-,
  .title_ {
    font-size: 80px;
  }
  .space {
    margin: 0 15px 0 0;
  }
  .header__para {
    font-size: 20px;
  }
  .left {
    width: 100%;
  }
  .card {
    width: 100%;
    height: 550px;
    margin: 24px 0;
  }
  .language {
    margin: 0 18px 0 0;
  }
  .header__para {
    font-weight: 800;
    max-width: 100%;
  }
  .card_description{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    margin: 20px 0;
  }
  .modal__half {
    padding: 40px;
  }
  .tech__wrapper {
    font-size: 20px;
  }
  .proj__header {
    font-size: 24px;
  }
  .nav__link {
    margin: 0 5px;
  }
  .stars {
    display: none;
  }
  .star_bg{
    background-image: url("assets/darkstars.gif");
  }
  #dark .star_bg{
    background-image: url("assets/stars.gif");
  }
  .details_container{
    margin: 700px 0 200px 0;
  }
  .project_modal{
    top: 170%;
    height: 75%;
  }

}

@media (max-width: 520px) {
  .card{
    width: 100%;
    height: 410px;
  }
  .card_description{
    margin: 5px 0;
  }

}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__image {
    grid-area: 1/1/2/2;
  }

  .explore__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .class__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .class__image {
    min-height: 500px;
  }
  .details_container-{
    margin: 50px 0 300px 0;
  }

}
@media (max-width: 670px) {
  .details_container-{
    margin: 200px 0 400px 0;
  }
  .project_modal{
    top: 172%;
    height: 65%;
  }
}

@media (width < 600px) {

  .details_container{
    margin: 1000px 0 200px 0;
  }
  .details_container-{
    margin: 400px 0 500px 0;
  }
  .laptop_gif{
    height: 70vh;
  }
  .laptop_gif img{
    width: 110%;
  }
  .explore__header {
    flex-direction: column;
  }

  .explore__grid {
    grid-template-columns: repeat(1, 1fr);
  }

}
@media (width < 550px) {
  .details_container{
    margin: 1100px 0 0px 0;
  }
  .details_container-{
    margin: 500px 0 300px 0;
  }
  .laptop_gif{
    height: 50vh;
  }
  .laptop_gif img{
    width: 125%;
  }
  .nav__link-list {
    margin-left: -50px;
  }
  .nav__link-list a{
    font-size: 18px;
  }
  .class__image .class__img-1 {
    left: 20px;
    top: -10px;
    
  }
  .header__content h1{
    font-size: 55px;
  }
  .header__content {
    font-size: 25px;
  }
  .project_modal{
    top: 192%;
    height: 95%;
  }
} 
@media (width < 450px) {
  .details_container{
    margin: 1550px 0 450px 0;
  }
  .details_container-{
    margin: 600px 0 500px 0;
  }
  .card {
    width: 100%;
    height: 300px;
  }
  .project_modal{
    top: 205%;
    height: 80%;
  }
}