* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #242424;
}
::-webkit-scrollbar {
  display: none;
}
li {
  list-style: none;
}
body {
  /*background: linear-gradient(rgb(64, 66, 70) 0%, rgba(1, 14, 51, 0.945) 100%);*/
  background: linear-gradient(#d2d3d4f1 0%, rgb(79, 81, 87) 100%);
}
section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
}
.row {
  width: 100%;
  max-width: 1400px;
}
.nav__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
}
.nav__link--list {
  display: flex;
}
a {
  text-decoration: none;
}
.nav__link {
  margin: 0 12px;
  font-size: 18px;
  font-weight: 700;
}
.container__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0 80px 24px;
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
}
.social__list {
  margin-top: 16px;
  display: flex;
}
.ic__img {
  width: 20px;
}
.link__hover-effect {
  cursor: pointer;
  position: relative;
}
.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}
.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}
.link__hover-effect--white:after {
  background-color: white;
}
.link__hover-effect--black:after {
  background-color: #242424;
}

.social__link {
  background-color: #0077ff;
  color: rgb(255, 255, 255);
  font-size: 14px;
  padding: 6px;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 32px;
  right: 40px;
  z-index: 100;
  position: fixed;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
}
.left {
  width: 50%;
}
.right {
  z-index: 1;
  width: 50%;
}
.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}
.header__para {
  font-size: 24px;
  line-height: 2;
  max-width: 500px;
}
.blue {
  color: #0077ff;
}
#text {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: -55%;
  transform: translate(-50%, -50%);
}
.tech {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  height: 400px;
}
.tech__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
#ball {
  z-index: 100;
  position: absolute;
  top: 110%;
  right: 20%;
}

.projects {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.projects__wrapper {
  padding: 30px;
  font-size: 25px;
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.project__list {
  margin: 50px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project__img {
  width: 100%;
  transition: all 1000ms ease;
}
.project__wrapper {
  width: 100%;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
}
.project__wrapper:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper:hover .project__img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  color: white;
  max-width: 550px;
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
}

.project__wrapper:hover .project_wrapper--bg {
  opacity: 0.7;
}

.project_wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0077ff;
  opacity: 0;
  transition: all 100ms ease;
}
.project {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 50px;
}
.project__description--title {
  font-size: 40px;
}
.project__description--sub-title {
  margin-top: 8px;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}
.project__description--para {
  margin: 16px 0;
}
footer {
  height: 300px;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__logo--img {
  width: 70px;
}
.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}
.footer__copyright,
.footer__social--link {
  color: white;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  z-index: 20;
  box-shadow: 0 0px 100px 100px rgb(0, 0, 0, 0.55);
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.modal .modal__about,
.modal .modal__contact {
  transform: translate(0%);
}
.modal__about {
  background-color: #00524e;
  color: #ffffff;
}
.modal__title {
  font-size: 26px;
}
.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}
.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}
.modal__contact {
  background-color: #ffffff;
  color: white;
}
.model__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
}
.click {
  transition: all 300ms ease;
  cursor: pointer;
}
.click:hover {
  transform: scale(1.1);
}
.click:active {
  transform: scale(0.8);
}

.form__item {
  margin-bottom: 20px;
}
.form__submit {
  background-color: rgb(11, 187, 187);
  color: white;
  border: 2px solid rgb(11, 187, 187);
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  font-size: 20px;
  padding: 12px 24px;
  border-radius: 10px;
  transition: all 300ms ease;
}
.form__submit:hover {
  border-color: rgb(11, 187, 187);
  background-color: transparent;
}
.form__submit:active {
  color: rgb(11, 187, 187);
  border-color: rgb(11, 187, 187);
}
input,
textarea {
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}
input:hover,
textarea:hover {
  border-color: gray;
}
input:focus,
textarea:focus {
  border-color: rgb(11, 187, 187);
}
label {
  font-size: 14px;
  font-weight: bold;
}
textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}
button {
  cursor: pointer;
}
.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}
.modal__overlay--success {
  font-size: 40px;
  background-color: #0b9472;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}
.modal__overlay--visible {
  z-index: 1;
  display: flex;
}
.spinner {
  animation: spinner 750ms infinite linear;
}


@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1258px) {
  #text {
    right: -57%;
  }
}
@media (max-width: 988px) {
  .title {
    font-size: 80px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 80px;
  }
  .header__para {
    font-size: 20px;
  }
  .modal {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    border-radius: 0;
    height: 100vh;
  }
  .modal__half {
    width: 100%;
  }
  .modal__about{
    height: 100%;
  }

  .title {
    font-size: 50px;
    display: inline;
    margin: 0 10px 0 0;
  }
  .left {
    margin: 100px 0 0 0;
    width: 100%;
  }
  .right {
    display: none;
    
  }
  .header__para{
    max-width: 100%;
  }
  .container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  #text {
    top: 70%;
    right: -30%;
  }
  .tech__wrapper{
    margin-top: 50px;
  }
}

@media (max-width: 580px) {
  .title {
    font-size: 52px;
  }
  .header__para {
    font-size: 18px;
  }
  .displ__none {
    display: none;
  }
  .project__description--para {
    display: none;
  }
  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .project__description--sub-title {
    margin-bottom: 8px;
  }
  .modal__half {
    padding: 40px;
  }
  .tech__wrapper{
    font-size: 18px;
  }
  .proj__header{
    font-size: 24px;
  }

}
